<div class="container" ng-init="getActorList()">
	
	<div class="page-header">
		<h3>Aktoren
		<span class="pull-right">
			<button class="btn btn-default" ng-click="newActor()"><i class="fa fa-plus fa-lg"></i></button>
		</span>
		</h3>
	</div>

	<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="obj in actorList" ng-click="selectActor(obj)" ng-class="{ 'list-group-item-info' : obj.id==selectedActor.id }">
				<strong>{{obj.name}}</strong>
				<br>
				<small>{{obj.location.name}}</small>
				<br>
				<small>{{obj.description}}</small>
			</li>
		</ul>
	</div>


	<div class="col-md-8" ng-show="selectedActor.id>=0">
		<form name="ctrl.frm">
		<tabset >
			<tab heading="Basis">
			<div class="tab-body clearfix">
				<div class="col-md-8">
					<div class="form-group">
						<label>Name</label>
						<input ng-model="selectedActor.name" type="text" class="form-control" required="true">
					</div>
					<div class="form-group">
						<label>Beschreibung</label>
						<input ng-model="selectedActor.description" type="text" class="form-control" required="false">
					</div>

					<div class="form-group">
						<label>Raum</label>
						<select ng-controller="locationCtrl" ng-model="selectedActor.locationId" class="form-control" 
							ng-init="getLocationList()" required="true"
							ng-options="location.id as location.name for location in locationList"> 
						</select>
					</div>

				</div>
			</div>
			</tab>

			<tab heading="IO-Port">
			<div class="tab-body">
				<div class="form-group">
					<label>Funktion</label>
					<select ng-model="selectedActor.type" class="form-control" ng-change="selectActortype(selectedActor.type)"
						ng-options="Actortype.id as Actortype.name for Actortype in Actortypes" required="true">
					</select>
				</div>

				<p ng-repeat="Actortype in Actortypes">{{Actortype.name}}</p>

			</div>
			</tab>
		</tabset>
		<p></p>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1">
				<button class="btn btn-block btn-danger" ng-click="selectedActor={}; getList();">
					Cancel
				</button>
			</div>
			<div class="col-xs-4 col-xs-offset-2">
				<button type="submit" class="btn btn-block btn-primary" ng-click="saveActor(selectedActor)" ng-disabled="!ctrl.frm.$valid">
				Save
				</button>
			</div>
		</div>
		</form>

	</div>
</div>

